@{
    ViewBag.Title = "Index";
}
<div class="rightbar">
    <div class="mbx">
        您当前的位置：网站管理平台 > 用户信息</div>
    <div class="lmmc">
        <span>用户信息</span></div>
    <table width="696" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td width="99" height="36" align="right" class="Gfont">
                    用户名称：
                </td>
                <td width="630" align="left">
                    <span id="lbCompany">河南护航办公（肖壮）</span>
                </td>
            </tr>
             <tr>
                <td width="99" height="36" align="right" class="Gfont">
                    公司名称：
                </td>
                <td width="630" align="left">
                    <span id="lbCompany">河南护航办公（肖壮）</span>
                </td>
            </tr>
            <tr>
                <td width="99" height="36" align="right" class="Gfont">
                    联系人：
                </td>
                <td width="630" align="left">
                    guangfeng
                </td>
            </tr>
            <tr>
                <td width="99" height="36" align="right" class="Gfont">
                    传真号码：
                </td>
                <td width="630" align="left">
                    guangfeng123
                </td>
            </tr>
                 <tr>
                <td width="99" height="36" align="right" class="Gfont">
                    所在地址：
                </td>
                <td width="630" align="left">
                    河南省郑州市
                </td>
            </tr>
        </tbody>
    </table>
</div>
