@charset "utf-8";
body{background-color:#1f71a1;}
body,ul,li,p,br,div,input,form,h1,h2,h3,h4,h5,h6{margin:0; padding:0;}
img{border:none;}
a{text-decoration:none;}

.wrapper{width:1000px; margin:0 auto;}

.login{height:420px; background:url(../images/login_bo_bg.jpg) no-repeat;}
.login .login_nn{width:440px; margin:0px auto; padding-top:45px;}
.login .login_nn .inp1{font:14px/36px 微软雅黑; color:#c1c1c1; border:none; background:url(../images/login_inp1.jpg) no-repeat; width:220px; height:36px; padding-left:14px;}
.login .login_nn .inp2{font:14px/36px 微软雅黑; color:#c1c1c1; border:none; background:url(../images/login_inp2.jpg) no-repeat; width:110px; height:36px; padding-left:12px;}

